<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration and Login App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>
<body style="margin: 0; width: 100%; height: 100%; background: linear-gradient(to top, #8dbbd8 0%, #508bb5 50%, #1f5891 100%) fixed; background-size: cover;"
      sec:authorize="hasRole('ROLE_USER')">
<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <form th:action="@{/logout}" method="get">
            <button class="btn btn-outline-light btn-lg mr-2 text-dark fw-bold" type="submit"
                    sec:authorize="isAuthenticated()" style="border-width: 2px;">LOGOUT
            </button>

        </form>
        <form th:action="@{/administration}" method="get">
            <button class="btn btn-danger btn-lg" type="submit" sec:authorize="hasRole('ROLE_ADM')">ADMINISTRATION
            </button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="">
            <div class="row justify-content-center mt-5">
                <div class="col-md-4">
                    <div class="text-center">
                        <h1 class="text-white">Hello <span th:text="${user.firstName}"></span>.</h1>
                        <h2 class="text-info">Here are your J-Mail's.</h2>
                        <div>
                            <a href="/outra_pagina" class="text-light mr-3" title="Send new J-Mail" style="padding-right: 2rem">
                                <i class="bi bi-envelope" style="font-size: 2em;"></i>
                            </a>

                            <a href="/outra_pagina" class="text-light" title="Exclude J-Mail">
                                <i class="bi bi-trash" style="font-size: 2em;"></i>
                            </a>
                        </div>
                    </div>

                    <div class="list-group" th:each="email : ${emails}">
                        <a th:href="@{'/emails/'+${email.uuid}}" class="list-group-item list-group-item-action mt-1">
                            <span class="text-primary fw-bold">Sender: </span><span th:text="${email.sender.jmail}">'sender'</span>
                            <br>
                            <span class="text-primary fw-bold">Resume: </span><span
                                th:text="${email.resume}">'resume'</span>
                            <br>
                            <span class="text-primary fw-bold">Received at:</span>
                            <span th:text="${email.time.month}">'month'</span>
                            <span th:text="${email.time.dayOfMonth}">'dayOfMonth'</span>,
                            <span th:text="${email.time.year}">'year'</span> -

                            <span th:text="${email.time.hour}">'hour'</span>:
                            <span th:text="${email.time.minute}">'minute'</span>:
                            <span th:text="${email.time.second}">'second'</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="container">
    <span sec:authentication="principal.username"> User</span>
    <span th:text="${user.firstName}"> User</span>
</div>

 Aqui vai a nomeação e a ação POST do Controller Test para pegar os dados HMTL
<form action="#" th:action="@{/print}" method="post">
    <input type="password" class="form-control" name="password" required autofocus="autofocus"/>
    <button type="submit" class="btn btn-success">PRINT</button>
</form>
-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>